@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;

  z-index: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.navigation_bar {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.profile_button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 1;
}

.app_screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}